body{
    background-color:rgb(149, 252, 190);
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
}
#headings{
    margin-left: 1rem; 
    text-align: center;
    margin-top: 1rem;
    color: black;
}
.row{
    background-color: rgb(172, 226, 244);
}
#image{
    
    margin: 3rem;
}

